In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Input, Dropout

2024-05-31 11:44:20.214202: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-05-31 11:44:20.214453: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-05-31 11:44:20.217173: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-05-31 11:44:20.248496: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-05-31 11:44:20.907460: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:

df = pd.read_csv('pivoted_Ádánd_2024_5_30.csv',decimal=',')
df.head()

,station_id,station_name,timestamp,year,month,day,station_eovx,station_eovy,Levegőhőmérséklet,Relatív páratartalom,Talajhőmérséklet,Talajnedvesség
0,07F16A43-6FBA-4A77-A22A-BFE79D336204,Ádánd,2021-02-04 11:00:00,2021,2,4,170073.000000,584904.000000,8.973913043478264,77.78260869565217,5.765217391304349,33.6
1,07F16A43-6FBA-4A77-A22A-BFE79D336204,Ádánd,2021-02-05 11:00:00,2021,2,5,170073.000000,584904.000000,6.920833333333334,88.20833333333333,5.704166666666666,36.51666666666666
2,07F16A43-6FBA-4A77-A22A-BFE79D336204,Ádánd,2021-02-06 11:00:00,2021,2,6,170073.000000,584904.000000,5.629166666666666,100.0,5.912500000000001,32.30416666666667
3,07F16A43-6FBA-4A77-A22A-BFE79D336204,Ádánd,2021-02-07 11:00:00,2021,2,7,170073.000000,584904.000000,2.8499999999999996,99.95454545454545,5.1909090909090905,35.540909090909096
4,07F16A43-6FBA-4A77-A22A-BFE79D336204,Ádánd,2021-02-08 11:00:00,2021,2,8,170073.000000,584904.000000,3.433333333333333,93.625,4.845833333333334,33.691666666666656

In [3]:
df=df[['timestamp','Levegőhőmérséklet','Relatív páratartalom','Talajhőmérséklet','Talajnedvesség']]
df.head()

,timestamp,Levegőhőmérséklet,Relatív páratartalom,Talajhőmérséklet,Talajnedvesség
0,2021-02-04 11:00:00,8.973913043478264,77.78260869565217,5.765217391304349,33.6
1,2021-02-05 11:00:00,6.920833333333334,88.20833333333333,5.704166666666666,36.51666666666666
2,2021-02-06 11:00:00,5.629166666666666,100.0,5.912500000000001,32.30416666666667
3,2021-02-07 11:00:00,2.8499999999999996,99.95454545454545,5.1909090909090905,35.540909090909096
4,2021-02-08 11:00:00,3.433333333333333,93.625,4.845833333333334,33.691666666666656

In [4]:
df.rename(columns={
    'Levegőhőmérséklet': 'air_temperature',
    'Relatív páratartalom': 'relative_humidity',
    'Talajhőmérséklet': 'soil_temperature',
    'Talajnedvesség': 'soil_moisture'
}, inplace=True)
df.head()

,timestamp,air_temperature,relative_humidity,soil_temperature,soil_moisture
0,2021-02-04 11:00:00,8.973913043478264,77.78260869565217,5.765217391304349,33.6
1,2021-02-05 11:00:00,6.920833333333334,88.20833333333333,5.704166666666666,36.51666666666666
2,2021-02-06 11:00:00,5.629166666666666,100.0,5.912500000000001,32.30416666666667
3,2021-02-07 11:00:00,2.8499999999999996,99.95454545454545,5.1909090909090905,35.540909090909096
4,2021-02-08 11:00:00,3.433333333333333,93.625,4.845833333333334,33.691666666666656

In [5]:
print(len(df))
df.dropna(inplace=True)
print(len(df))

1212
1145

In [6]:
print(df.dtypes)

timestamp            object
air_temperature      object
relative_humidity    object
soil_temperature     object
soil_moisture        object
dtype: object

In [7]:
df['air_temperature'] = pd.to_numeric(df['air_temperature'])
df['relative_humidity'] = pd.to_numeric(df['relative_humidity'])
df['soil_temperature'] = pd.to_numeric(df['soil_temperature'])
df['soil_moisture'] = pd.to_numeric(df['soil_moisture'])
print(df.dtypes)

timestamp             object
air_temperature      float64
relative_humidity    float64
soil_temperature     float64
soil_moisture        float64
dtype: object